@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.categories {
  display: flex;
  flex-direction: column;
  margin: 0;

  &__hero {
    display: flex;
    padding-top: 14.5em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__banner-text {
    font-size: 1rem;
    margin: .25rem 0;
  }

  &__banner-text-bottom {
    font-size: 1rem;
    margin: .25rem 0;

    &--bold {
      font-weight: 700;
    }
  }

  &__banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 1rem 1rem;
  }

  &__learn-more {
    width: 6rem;
    height: 2rem;
    border-radius: 50px;
    border: none;
    background-color: $shopify-light-green;
    font-size: .9rem;
    padding: 0.25rem;
    margin: .5rem 0;

    &:hover {
      background-color: $shopify-dark-green;
      color: $main-background;
      cursor: pointer;
    }
  }

  &__hero-text {
    font-size: .85rem;
    margin: .25rem 0;
  }

  &__hero-text-bold {
    font-size: .85rem;
    margin: .25rem 0;

    &--green {
      color: $shopify-dark-green;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 0 .5rem;
    text-align: center;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10rem;
  }

  &__title {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    font-family: "Lato";
    font-weight: 600;
  }

  &__gallery {
    box-sizing: border-box;
    // padding-left: 6rem;
    // padding-right: 6rem;
    padding-bottom: 8rem;
    margin: 0;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__row {
    display: flex;
    width: 980px;
    height: 17.1rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
  }

  &__card {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 14rem;
    margin: 0;
  }

  &__link {
    height: 0;
    color: black;
  }

  &__img {
    width: 14rem;
    height: 14rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  &__label {
    padding-top: 0.2rem;
    border: 1px solid $footer-grey;
    border-top: none;
    margin: 0;
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
    font-family: "Lato";
    font-weight: 400;
    padding-left: 0.4rem;
    color: #424242;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hero-img {
    width: 80%;
  }
}
