@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.footer {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
  width: 100%;
  box-sizing: border-box;

  &__policies {
    padding-right: 8rem;
  }
  &__policy {
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.6rem;
    margin: 0;
    margin-bottom: 0.3rem;

    &--copyright {
      padding-top: 2rem;
    }
  }
  &__list {
    padding: 2rem 10rem 1rem 6rem;
  }
  &__item {
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.6rem;
    margin: 0;
    margin-bottom: 0.3rem;
  }
  &__subscribe {
    margin-left: auto;
    padding-right: 6rem;
  }

  &__join {
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.6rem;
  }
  &__input {
    padding-left: 0.5rem;
    height: 2rem;
    border-radius: 4px;
    border: none;
  }
  &__button {
    color: $main-background;
    background-color: $shopify-dark-green;
    border: none;
    height: 2rem;
    font-family: "Lato";
    font-size: 0.8rem;
    width: 6rem;
    border-radius: 4px;
    &:hover {
      background-color: $shopify-light-green;
    }
  }
}
